@media only screen and (max-width : 650px) {
	nav {
		height: 80px;
	}

	nav ul {
		display: none;
	}

	nav #burger-menu-btn {
		display: block;
		height: 30px;
		width: 40px;
		margin-right: 3%;
	}

	.about-container a {
		font-size: 0.7em;
	}
}

@media only screen and (max-width : 768px) {

	.about-container {
		height: 800px;
		padding: 160px 0 0 0; 
	}

	.about-container a img {
		margin: -22px -35px;
	}

	.cards {
		display: none;
	}

	.card {
		margin-top: 10px;
		width: 90%;
	}

	.slider {
		display: flex;
		justify-content: center;
		width: 90%;
	}

	.logos-container {
		width: 50%;
		padding: 25px 0 0 0 ;
	}

	#small {
		margin: 0;
	}

	.small {
		margin: 0;
	}

	.card h3, .card p {
		margin: 0;
		padding: 2px 0;
	}

	.app-store-size {
		height: 45px;
		padding-right: 5px;
	}
}

@media only screen and (max-width : 430px) {

	nav h1 {
		font-size: 1.5em;
	}

	.burger-menu {
		margin-left: 10%;
		width: 80%;
	}

	.header {
		background-size: cover;
		overflow: hidden;
	}

	.header h1 {
		font-size: 2.4em;
		line-height: 35px; 
	}

	.header-text p {
		margin-top: -10px;
		font-size: 1em;
	}

	.about-container a {
		font-size: 0.7em;
	}

	.about-container a img {
		margin: -18px -35px;
	}

	.about-us {
		width: 90%;
	}

	.about-us h1 {
		font-size: 2em;
	}

	.fnatic-left img {
		margin-top: -70px;
	}

	.kokyo-right img {
		margin-top: -70px;
	}

	.product-container p {
		font-size: 0.85em;
		font-weight: 400;
	}

	.product-container h2 {
		font-size: 1.5em;
	}

	.product-container h1 {
		font-size: 2em;
	}

	.app-store-size {
		height: 28px;
		padding-right: 5px;
	}

	.kokyo-text input {
		font-size: 0.9em;
		height: 40px;
		width: 100%;
		margin-left: 10px;
	}

	.kokyo-text .input {
		border-bottom: 2px solid grey;
	}

	.kokyo-text .input img {
		width: 20px;
		margin-right: 0px;
	}

	.contact-container h1 {
		font-size: 2em;
	}

	.footer-content {
		padding: 10px 0;
		font-size: 0.8em;
	}

	.footer-content p {
		margin-top: -10px;
		font-size: 0.7em;
	}

	.footer-content img {
		padding: 6px;
	}

	footer {
		height: 180px;
	}
}

@media only screen and (max-width : 325px) {
	nav #logo {
		max-width: 150px;
	}

	.about-container {
		padding-top: 220px;
	}

	.about-container a {
		width: 60%;
	}

	.about-container a img {
		margin: -18px -35px;
	}

	.product-container p {
		font-size: 0.75em;
	}

	.kokyo-left input {
		font-size: 0.6em;
	}

	.contact-container {
		padding-top: 100px;
	}
}